<div class="planner">
  <div class="panel">
    <h1>Planner</h1>
    <ul>
      <li><a href="/planner/everyday">毎日のタスク</a></li>
      <li><a href="/planner/clean">掃除</a></li>
      <li><a href="/planner/meet">人に会う</a></li>
      <li><a href="/planner/bath">入浴</a></li>
      <li><a href="/planner/meal">献立</a></li>
    </ul>
  </div>
</div>
