<%= form_with model: @setting, url: settings_path, method: :put do |f| %>
    <%= f.label :prompt, "プロンプト" %>
  <div id="editor" data-controller="editor">
      <nav>
        <span id="editor-status" data-editor-target="status" class="save-status"></span>
        <br>
        <small>
            
        </small>
      </nav>
      <div id="editor-text">
        <%= f.text_area :prompt, "data-editor-target": "textarea" %>
      </div>
  </div>
  <%= f.submit "保存" %>
<% end %>

<style>
  #editor {
    width: 100%;
    box-sizing: border-box;
  }

  #editor-text {
    width: 100%;
    background-color: white;
    font-size: 1.1rem;
    margin: 0;
  }

  #editor-text textarea {
    width: 100%;
    height: 80vh;
    font-size: 1.1rem;
    border: none;
    margin: 1rem 0 0 0;
    outline: none;
    box-shadow: none;
  }
 
  .save-status {
    margin-left: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #666;
  }
</style>
